header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/landing2.jpg');
  z-index: -1;
  background-size: cover
      ;background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  background-position: center center;
  @include background-cover;

}


@media(min-width:768px) {

    
      .intro-lead-in {
        padding-top: 250px;
        font-size: 60px;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 25px;
        font-weight: 300;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    #btnLand {
        margin-bottom: 250px;
    }
    #btnRegi {
        margin-bottom: 50px;
    }
    #gallery {
        width: 500;
        margin: auto;
        border-radius: 3px;
        overflow: hidden;
}
    
    }
  
@media(max-width:767px) {

    
      .intro-lead-in {
        padding-top: 150px;
        font-size: 60px;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 25px;
        font-weight: 300;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    #btnLand {
        margin-bottom: 150px;
    }
    #btnRegi {
        margin-bottom: 50px;
    }
}
  
#about h2 {
  padding-top: 20px;
}

header.masthead {
  text-align: center;

}

.h1 {
    text-align: center;
}

.divA table{
	margin: 5px auto;
	border-collapse: collapse;
}

.divA{
	margin: 0px 0% 30px 0%;
}

.divB table{
	margin: 5px auto;
	border-collapse: collapse;
}

.divB{
	margin: 0px 0% 30px 0%;
}

.divC table{
	margin: 5px auto;
	border-collapse: collapse;
}

.divC{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 2px;
}


}

.pos{
	text-align: center;
}


table .col{
	border-bottom: 1px solid #FFFFFF;
}



.pos:hover{
}

.pos:hover td{
	color: #808080;
}


ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#rulesBtn {
    padding: 20px;
}

.schedule {
    text-align: center;
}